@import "src/variables";
@import "src/mixins";

//noinspection ALL
$form-feedback-icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Cpath d='M85.57 446.25h340.86a32 32 0 0028.17-47.17L284.18 82.58c-12.09-22.44-44.27-22.44-56.36 0L57.4 399.08a32 32 0 0028.17 47.17z' fill='none' stroke='#{$yellow}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath d='M250.26 195.39l5.74 122 5.73-121.95a5.74 5.74 0 00-5.79-6h0a5.74 5.74 0 00-5.68 5.95z' fill='none' stroke='#{$yellow}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath fill='#{$yellow}' d='M256 397.25a20 20 0 1120-20 20 20 0 01-20 20z'/%3E%3C/svg%3E");
//noinspection ALL
$form-feedback-icon-new: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Cpath d='M416 221.25V416a48 48 0 01-48 48H144a48 48 0 01-48-48V96a48 48 0 0148-48h98.75a32 32 0 0122.62 9.37l141.26 141.26a32 32 0 019.37 22.62z' fill='none' stroke='#{$green}' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath d='M256 56v120a32 32 0 0032 32h120' fill='none' stroke='#{$green}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3C/svg%3E");
//noinspection ALL
$form-feedback-icon-merge: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' viewBox='0 0 512 512'%3E%3Ccircle cx='129' cy='96' r='48' fill='none' stroke='#{$info}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Ccircle cx='129' cy='416' r='48' fill='none' stroke='#{$info}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath fill='none' stroke='#{$info}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M129 144v224'/%3E%3Ccircle cx='385' cy='288' r='48' fill='none' stroke='#{$info}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3Cpath d='M129 144c0 96 112 144 208 144' fill='none' stroke='#{$info}' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'/%3E%3C/svg%3E");

$statuses: (
        "invalid": $danger,
        "new": $green,
        "warning": $yellow,
        "merge": $info
);

@mixin for-each-status($with-valid: false) {
  @each $status, $color in $statuses {
    @content($status, $color);
  }
  @if $with-valid {
    @content("valid", $success);
  }
}

@mixin bold-label {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 1.5rem;
}
